.loading {
    display: flex;
    margin: 25rem auto;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hidden {
    display: none;
}

/*#list > p{*/
/*    color: hotpink;*/
/*}*/

.wordcolorchanger{
    color: hotpink;
}